---
import { projects } from "../../constants/projects";

const { limit } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
  {
    projects.slice(0, limit).map((project) => (
      <a
        class="relative group w-full overflow-hidden"
        href={project.link}
        target="_blank"
      >
        <img
          src={project.src}
          alt={`${project.name} Screenshot`}
          class="w-full object-cover block"
        />
        <div class="absolute inset-0 bg-dark/90 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <p class="py-2 px-10 bg-white/70 tracking-widest uppercase text-center">
            Visit Site
          </p>
        </div>
      </a>
    ))
  }
</div>
