---
import Section from "../ui/Section.astro";
import Title from "../ui/Title.astro";
import Text from "../ui/Text.astro";
import ContactForm from "../contact/ContactForm.astro";
---

<Section>
  <div class="flex flex-col gap-4 w-full items-start">
    <Title>Contact</Title>
    <Text
      >If you want to collaborate or work with me, feel free to send me a
      message.</Text
    >

    <ContactForm />
  </div>
</Section>
