---
import Section from "../ui/Section.astro";
import Title from "../ui/Title.astro";
import Text from "../ui/Text.astro";
import LinkButton from "../ui/LinkButton.astro";
import ProjectsList from "../projects/ProjectsList.astro";
---

<Section animation="section-reveal from-right">
  <div class="flex flex-col gap-4 w-full items-start">
    <Title>Projects</Title>
    <Text>Check out my latest projects</Text>

    <ProjectsList limit="3" />

    <div class="flex items-center justify-center w-full mt-6">
      <LinkButton link="/projects">More</LinkButton>
    </div>
  </div>
</Section>
