---
import Layout from "../layouts/Layout.astro";
import ProjectsList from "../components/projects/ProjectsList.astro";
import Section from "../components/ui/Section.astro";
---

<Layout>
  <Section>
    <ProjectsList />
  </Section>
</Layout>
