---
import Layout from "../layouts/Layout.astro";
import ProjectsList from "../components/projects/ProjectsList.astro";
import Section from "../components/ui/Section.astro";
import ContactSection from "../components/sections/ContactSection.astro";
---

<Layout>
  <Section animation="section-reveal from-left">
    <ProjectsList />
  </Section>

  <ContactSection />
</Layout>
