---
import { githubLink } from "../../constants/consts";
import Logo from "../Logo.astro";
import NavbarItem from "./NavbarItem.astro";
---

<div class="uppercase py-8 px-10 tracking-[0.3rem] md:px-20">
  <ul class="justify-between hidden md:flex">
    <NavbarItem link="/projects">Projects</NavbarItem>
    <NavbarItem link="/about">About</NavbarItem>
    <Logo />
    <NavbarItem link={githubLink} target="_blank">Github</NavbarItem>
    <NavbarItem link="/contact">Contact</NavbarItem>
  </ul>

  <div class="md:hidden flex justify-between items-center">
    <Logo />
    <button id="menu-toggle" aria-label="Open menu">
      <img src="/menu-icon.svg" alt="Menu icon" class="w-6 h-6" />
    </button>
  </div>

  <ul
    id="mobile-menu"
    class="md:hidden uppercase tracking-[0.2rem] transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0 pointer-events-none"
  >
    <div class="mt-8 flex flex-col items-center justify-center gap-8">
      <NavbarItem link="/projects">Projects</NavbarItem>
      <NavbarItem link="/about">About</NavbarItem>
      <NavbarItem link={githubLink} target="_blank">Github</NavbarItem>
      <NavbarItem link="/contact">Contact</NavbarItem>
    </div>
  </ul>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const toggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("mobile-menu");

    toggle?.addEventListener("click", () => {
      menu?.classList.toggle("open");
    });
  });
</script>
