---
import { githubLink, linkedinLink, mail } from "../constants/consts";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import Logo from "./Logo.astro";
import Section from "./ui/Section.astro";
---

<Section animation="section-reveal from-right">
  <div class="flex flex-col gap-4 items-center justify-center">
    <Logo />
    <p class="tracking-widest text-center font-light text-xs md:text-md">
      © Copyright 2025 · All rights reserved
    </p>

    <div class="flex gap-8 items-center md:mt-4">
      <a href={githubLink} target="_blank">
        <Github />
      </a>
      <a href={linkedinLink} target="_blank">
        <Linkedin />
      </a>
      <a href={`mailto:${mail}`}>
        <Mail />
      </a>
    </div>
  </div>
</Section>
