<a href="/">
  <svg
    width="170"
    height="auto"
    viewBox="0 0 206 19"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.46153 0.600098H9.73653L18.5865 19.0001H15.3615L13.7865 15.4001H5.36153L3.78653 19.0001H0.66153L9.46153 0.600098ZM9.58653 5.9251L8.48653 8.4251L6.48653 12.8751H12.6865L10.7115 8.4501L9.63653 5.9251H9.58653Z"
    ></path>
    <path
      d="M41.0031 19.0001L30.2531 7.1001L30.3281 9.1001V19.0001H27.5281V0.600098H27.8781L38.6781 12.6501L38.5781 10.5501V0.625099H41.3781V19.0001H41.0031Z"
    ></path>
    <path
      d="M66.008 19.0001L55.258 7.1001L55.333 9.1001V19.0001H52.533V0.600098H52.883L63.683 12.6501L63.583 10.5501V0.625099H66.383V19.0001H66.008Z"
    ></path>
    <path
      d="M84.1344 0.600098H84.4094L93.2594 19.0001H90.0344L88.4594 15.4001H80.0344L78.4594 19.0001H75.3344L84.1344 0.600098ZM84.2594 5.9251L83.1594 8.4251L81.1594 12.8751H87.3594L85.3844 8.4501L84.3094 5.9251H84.2594Z"
    ></path>
    <path
      d="M115.902 19.0001V0.625099H118.702V8.1251H125.177V0.625099H127.977V19.0001H125.177V10.4751H118.702V19.0001H115.902Z"
    ></path>
    <path d="M139.23 19.0001V0.625099H142.03V19.0001H139.23Z"></path>
    <path d="M153.29 19.0001V0.625099H156.115V16.5001H161.39V19.0001H153.29Z"
    ></path>
    <path d="M171.019 19.0001V0.625099H173.844V16.5001H179.119V19.0001H171.019Z"
    ></path>
    <path
      d="M196.224 0.600098H196.499L205.349 19.0001H202.124L200.549 15.4001H192.124L190.549 19.0001H187.424L196.224 0.600098ZM196.349 5.9251L195.249 8.4251L193.249 12.8751H199.449L197.474 8.4501L196.399 5.9251H196.349Z"
    ></path>
  </svg>
</a>
