---
import profile from "../assets/profile.png";
import Title from "./ui/Title.astro";
import Text from "./ui/Text.astro";
import Button from "./ui/Button.astro";
---

<div class="flex items-center justify-center border-b py-15 gap-20">
  <img width={230} src={profile.src} alt="Anna Hilla Profile Picture" />

  <div class="w-[30rem] flex flex-col gap-8 items-start">
    <Title>Welcome</Title>
    <Text>
      I am Anna Hilla, a Frontend Web Developer based in Barcelona. I am
      specialized in React and Next.js, TailwindCSS and Typescript.
    </Text>
    <Button>More</Button>
  </div>
</div>
